body {
    background-color: black !important;
    color: white !important;
}

.personalColor {
    background-color: black !important;
    color: white !important;
    text-decoration: none !important;
}

.nav-link, .navbar-brand {
    color: gray !important;
}

.nav-link:hover, .navbar-brand:hover {
    color: rgb(199, 199, 199) !important;
}

.navbar-toggler-icon { 
    color: rgb(150, 150, 150);
    background-image: none !important;
}

.introphoto {
    filter: opacity(75%);
}

.cvtainer {
    padding: 100px 0px;
}

.JSMIFoto {
    border-radius: 750px;
}