/* body {
    background-color: black;
    color: white;
    min-height: 100vh;
}

.carousel-inner{
    height: 600px;
} */

body{ 
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
.personalColour{
  background-color: black;
  color: white;
}

  header{ 
    min-height:50px;
    background:lightcyan; 
  }
  
  footer{ 
    min-height:50px; 
    background:PapayaWhip; 
  }

  .carousel-item{
    display: inline-block;
    position: relative;   
    height: 520px;
    overflow: hidden;
    object-fit: cover;
  }

  .cvlink{
      height: 400px;
      /* background-image: ; */
  }